* {
    padding: 0;
    margin: 0;
}
header {
    background-color: rgba(255, 255, 255, 1);
    height: 4vw;
}
h1 {
    color: white;
    position: absolute;
    left: 15vw;
    top: 0;
    line-height: 4vw;
    font-family: verdana;
}
header a {
    color: white;
    text-decoration: none;
    font-family: verdana;
}
header a:hover {
    text-decoration: underline;
}
header li {
    display: inline;
    margin-right: 4vw;
}
header ul {
    position: absolute;
    top: 0;
    right: 3vw;
    line-height: 4vw;
}
header video {
    width: 100%;
    background-size: cover;
}
main h2 {
    color: black;
    text-align: center;
}
main {
    margin-top: 55vw;
}